/***************
GENERAL STYLING
***************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a1a8bd;
    line-height: 26px;
}


a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -6.1px;
    margin-bottom: 54px
}


.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    font-size: 16px;
    font-weight: 800;
    display: block;
    color: #1085e4;
    margin-bottom: 31px;
    text-transform: uppercase;

}

.title-40 {
    font-size: 40px;
    letter-spacing: -3.5px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;

}

.title-40 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: -3.5px;
    font-weight: 800;
    display: block;
    color: #1085e4;
    text-transform: uppercase;
}


.btn-primary {
    font-size: 12px;
    letter-spacing: 2.0px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    padding: 20px 35px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
    ;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #8491b2;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    border: 1px solid;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-secondary:hover {
    color: #1085e4;
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 20px 47px;
    letter-spacing: 1.7px;
}

.btn-info {
    color: #8085b1;
    background: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8491b2;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-group a+a {
    margin-left: 15px;
    list-style-type: none;
}



/***************************************
STYLING page Best features ever seen
****************************************/
.grid {
    display: grid;
    grid-template-areas: "a b c"
        "d b c"
        "d f g"
        "e f g"
        "e h h";
    grid-gap: 35px;
    /* to create better gab between grid element we use grid-gap */
    grid-template-columns: 1fr 1fr 1fr;
    /* to create 3 columns with the same width we use grid-template-columns without it
    text within elements will afect the overall appearance of the grid elements */
    max-width: 1110px;
    margin: 0 auto;
}

/* дя грида - 3 столбика и 5 строк всего на странице с иконками */

.grid-title {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-1 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #81b3ed;
    display: block;
    line-height: 50px;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 13px;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}


.grid-item {
    text-align: center;
    box-shadow: 0 0 5px #f5f5f5;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    height: 92px;
    /* same height of all icons (the highest has 92px) additionally every icon will get
    background-size  with height and width for every icon we use background-position to center the icons*/
    margin: 0px auto 20px;
    background-position: center;
}

.grid-icon-1 {
    background-image: url(../images/medium-icon2-and-bg.png);
    background-size: 73px 79px;
}

.grid-icon-2 {
    background-image: url(../images/medium-icon3-and-bg.png);
    background-size: 89px 85px;
}

.grid-icon-3 {
    background-image: url(../images/medium-icon-and-bg.png);
    background-size: 79px 82px;
}

.grid-icon-4 {
    background-image: url(../images/medium-icon5-and-bg.png);
    background-size: 85px 90px;
}

.grid-icon-5 {
    background-image: url(../images/medium-icon6-and-bg.png);
    background-size: 100px 87px;
}

.grid-icon-6 {
    background-image: url(../images/medium-icon4-and-bg.png);
    background-size: 102px 92px;
}










.page-stat,
.title-h2,
.pagescreen {
    text-align: center;
    margin: 0 auto;
}

.page-stat,
.title-h2 {
    max-width: 500px;

}

.page-stat h2 {
    text-align: center;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 20px;  better use it with top background  */
    margin-bottom: 187px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 20px 0;
}

.logo {
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(/images/logo.png);
}

.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.nav>li {
    padding: 0 15px;
}

.nav-item {
    color: #c4c9d9;
    letter-spacing: 2px;
}






/* Formatting get started now */

.link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #1085e4;
    border-radius: 30px;
}

/* Styling Some Fun Facts About Dashboard */

.list-stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: uppercase;
    list-style: none;
    margin-top: 66px;

}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #4597e8;
    text-align: center;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-indent: -42px;
}

.page-stat,
.pagescreen {
    background: #edf6ff;
}

.page-stat {
    padding: 116px 0 96px 0;
}

.pagescreen,
.page-plan {
    padding: 116px 0 0 0;
    text-align: center;
}

.pagescreen {
    padding: 116px 0 0 0;

}

.screen {
    margin-top: 31px;
    margin-bottom: -7px;
}

.box-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    position: relative;
    padding: 90px 0 96px 0;
}

.box-price-item-active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item ul {
    list-style: none;
    padding-left: 0;
}

.box-price-item-active ul {
    list-style: none;
}

.box-price-item:first-child h3 {
    margin-bottom: 35px;
}

.btn-info:hover {
    color: #fff;
    background: #94b4cc;
    border: 1px solid #94b4cc;
}

.box-price-item-active:after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: ;
    position: absolute;
    top: 0;
    right: 0;
}

.page-header {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 33px 0;
    position: relative;
}

.page-company {
    background-image: url(../images/under-header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px;
}

.list-company-item {
    display: block;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}

.company-one {
    background-image: url(../images/underheader-logo-1.png);
    flex-basis: 198px;
    height: 58px;
}

.company-two {
    background-image: url(../images/underheader-logo-2.png);
    flex-basis: 200px;
    height: 69px;

}

.company-three {
    background-image: url(../images/underheader-logo-3.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../images/underheader-logo-4.png);
    flex-basis: 200px;
    height: 69px;
}


.btn-group>li {
    list-style: none;
}

.screen-img {
    display: block;
    background-image: url(../images/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 43px;
    top: 95px;
}

/* .box-price-item-active:after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url(../images/);
    position: absolute;
    top: 0;
    right: 0;
} */


/***************************************
STYLING page SUBSCRIBE Signup for a trial
****************************************/

.page-subscribe .title-h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
}

.page-subscribe .title-h2 span {
    font-size: 14px;
}



.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-subscribe-text {
    font-size: 18px;
    max-width: 437px;
}


/* box-subscribe-user helps to put a button with a word subscribe 
button gets a position absolute and box-subscribe-user - relative. box-subscribe-user 
is a parent block for button */
.box-subscribe-user {
    position: relative;
}


.box-subscribe-child {
    flex-basis: 44%;
}

.box-subscribe-user input {
    font-size: 14px;
    color: #fff;
    border: 2px solid #4672c1;
    border-radius: 30px;
    background-color: transparent;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 212px 25px 37px;
    /* padding helps to border input text, so it does not go beyond button,
    especially helps here 212px */
}

.box-subscribe-user input:focus,
.box-subscribe-user .btn-primary {
    outline: none;
    /* it helps to avoid appearance of focus-rectangle border */
}



/* pseudoelements here found at https: //html5.by/blog/placeholder/ */

.box-subscribe-user input::-webkit-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-moz-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user input:-ms-input-placeholder {
    color: #b1c3ee;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 9px;
    right: 7px;
    padding: 13px 51px;
}

.box-price-item-active:after {
    display: none;
}


.page-subscribe {
    padding: 25px 0 20px 0;
    color: #fff;
    /* color gets text  on page*/
    background: rgba(10, 32, 144, 1);
    background: -moz-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10, 32, 144, 1)), color-stop(100%, rgba(35, 120, 205, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: linear-gradient(135deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1);
}

/***************************************
Grab Your Software With Amazing Features
****************************************/

.page-software {
    padding: 109px 0 20px 0;
    position: relative;
    overflow: hidden;
}

.software-pic {
    display: block;
    width: 931px;
    height: 760px;
    background-image: url(../images/pc-graph.png);
    background-size: 100% 100%;
    background-origin: 0 0;
    position: absolute;
    left: -20px;
    bottom: -39px;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.page-software-flex>div {
    flex-basis: 55%;
    /* this extra div is necessary to enable scrolling function within flex */
}

.settings-icon {
    display: block;
    background-image: url(../images/Grab.png);
    background-repeat: no-repeat;
    background-position: 44px 0;
    width: 118px;
    height: 98px;
}

.page-software-list {
    margin-top: 31px;
    height: 340px;
    overflow: hidden;
    overflow-y: scroll;
}


.page-software-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* .page-software-list::-webkit-scrollbar-button {
    background-color: #1085e4;
} */

.page-software-list::-webkit-scrollbar-track-piece {
    background-color: #f3f6ff;
}

.page-software-list::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #1085e4;
    border-radius: 10px;
}

.page-software-list dt {
    font-weight: 700;
    color: #7581a1;
    margin-bottom: 20px;
}

.page-software-list dd {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 50px;
    line-height: 1.8;
}

.page-software .title-h2,
.page-analytics .title-h2 {
    max-width: 446px;
    margin-top: 12px;
    margin-bottom: 26px;
}

/*************************************** 
    PAGE Meet With Future Landingpage 
    ***************************************/
.content-app .title-h2 {
    margin: 20px;
}


.page-app-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d5dfe6;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}

.page-app-list {
    padding: 0;
    list-style-type: none;
    margin-left: -7px;
}


.page-app-list>li {
    display: inline-block;
}

.page-app-list>li>a {
    background-image: url(../images/gplay-astore.png);
    display: block;
    width: 220px;
    height: 95px;
    background-repeat: no-repeat;
}

.page-app-list>li>a.page-app-android {
    background-position: 3px 0;
}

.page-app-list>li>a.page-app-ios {
    background-position: -205px 0;
}

.content-app {
    width: 55%;
}

.page-app {
    padding: 27px 0 92px 0;
}

.page-app .wrap {
    position: relative;
}

.video-app {
    position: absolute;
    top: 0px;
    right: 0px;
}


/**************************************** 
Limpon Is Suitable For Anytype Landing Page 
****************************************/

.page-analytics {
    background-image: url(../images/3ecks.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 20px 0;
}

.flex-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-analytics-text {
    margin-bottom: 54px;
}

.flex-analytics>div {
    flex-basis: 50%;
}



.page-control {
    background-image: url(../images/);
    background-position: center;
    /* background-position: center; helpts to 
    avoid movement of picture in front of other picture, if we try to minify the page
    so background will be minified according to plan and not rigth away*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;

}

/**************************** 
    Page Our Happy Clients
    ****************************/

.box-clients {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-repeat: cover;

}

.box-clients-item {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    flex-basis: 30%;
    box-sizing: border-box;
    box-shadow: 0 9px 20px #f4f4f4;
}



.box-clients-item .name {
    font-size: 22px;
    font-weight: 600;
    color: #000958;
    margin-bottom: 0px;
    letter-spacing: 1px;
    line-height: 1.1;
}

.box-clients-item .position {
    font-size: 14px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 1px;
}


.page-clients {
    position: relative;
    margin-top: 12px;
    padding: 20px 0 0 0;
}

.page-clients::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/svgform.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.page-clients .title-40 {
    color: #fff;
}

.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.box-info>div {
    padding-left: 17px;
}

.box-clients-item>p {
    margin-bottom: 4px;
}

.box-clients-item .box-info>img {
    display: inline-block;
}